.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#btn1{
  margin-top: -5%;
  color: #4ECCA3;
  background-color: rgb(179, 38, 38);
  text-align: center;
  font-family: 'Lobster', cursive;
  width: 122px;
  height: 80px;
  font-size: 30px;
  border-radius: 10px;
  border-color: black;
}
